.navbar-logo {
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

.navbar-input {
    min-width: 200px;
    width: 40vw;
    height: 5vh;
    background-color: #e9e9e9;
    border: 1px solid #e9e9e9;
    border-style: solid;
    border-radius: 5px;
    margin: 1vh;
    padding: 1vh;
}

.navbar-btn-group a {
    margin-right: 1vw;   
}

.navbar-btn {
    min-width: 90px;
    width: 6vw;
    height: 5vh;
    border-radius: 5px;
    border: 1px solid #9a36ff !important;
    color: #9a36ff;
    background-color: white;
}

.navbar-btn:hover {
    color: white;
    background-color: #9a36ff;
}

.navbar-btn-search {
    min-width: 40px !important;
    width: 4vw !important;
}

.navbar-btn-profile {
    min-width: 40px !important;
    width: 2vw !important;
}
