.loading-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
}


.loading-message {
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    color: #9a36ff;
}